<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body ng-controller="fvCtrl">
  <h2>Faktura numer {{fvNr}}</h2>
  <form 
    ng-submit="saveDB()">
    <label for="klient">Klient</label>
    <select name="" id="" ng-model="klient">
      <option value="Hitler">Hitler</option>
      <option value="Stalin">Stalin</option>
      <option value="Mao">Mao </option>
    </select>
    <div>
      <label>Kwota</label>
      <input type="number" ng-model="kwota">
    </div>
    <input value="zapisz" type="submit" />
  </form>
  <h2>Podsumowanie</h2>
  <p>Klient {{klient}}</p>
  <p>Kwota {{kwota}}</p>
  <p>Kwota brutto {{kwotaBrutto}}</p>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-route/angular-route.js"></script>
  <script src="main.js"></script>  
</body>
</html>