<div class="row">
  <div class="col-md-12">
  <h2>Lista faktur</h2>
  <div>
    <table class="table">
      <thead>
      <th>
        <a href="" ng-click="sortType='client'">Klient</a>
      <span
        ng-show="sortType=='fv.client'"
        class="fa fa-caret-down"
      ></span>
    </th>
      <th>
        <a href="" ng-click="sortType='fvNip'">NIP</a>
      <span
        ng-show="sortType=='fvNip'"
        class="fa fa-caret-down"
        ></span>
      </th>
      <th>
        <a href="" ng-click="sortType='fvDate'">Data</a>
        <span 
          ng-show="sortType=='fvDate'"
          class="fa fa-caret-down"
        ></span>
       </th>
       <a href="" ng-click="sortType='data'"></a>
      <th>
        <a href="" ng-click="sortType='amount'">Kwota Netto</a>
        <span 
        ng-show="sortType=='amount'"
        class="fa fa-caret-down"
      ></span>
        </th>
      <th>
        <a href="" ng-click="sortType='fvNumber'">Numer FV</a>
        <span
        ng-show="sortType=='fvNumber'"
        class="fa fa-caret-down"
        >
        </span>  
      </th>
      <th>
        <a href="" ng-click="sortType='vat'">Stawka VAT</a>
        <span 
        ng-show="sortType=='vat'"
        class="fa fa-caret-down"
        ></span>
      </th>
      <th>Kwota brutto</th>
      </thead>
      <tr ng-repeat="fv in fvs.data | orderBy:sortType:sortReverse">
        <td>{{fv.client }}</td>
        <td>{{fv.fvNip}}</td>
        <td>{{fv.fvDate | date}}</td>
        <td>{{ fv.amount | currency}}</td>
        <td>{{fv.fvNumber}}</td>
        <td>{{fv.vat}}</td>
        <td ng-hide="fv.vat === undefined">{{fv.amount + (fv.amount * fv.vat / 100) }}</td>
      </tr>
    </table>
  </div>
</div>
</div>
