<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body ng-controller="fvCtrl">
  <h2>Faktura numer {{fvNr}}</h2>
  <form 
    ng-submit="saveFV()">
    <label for="client">Klient</label>
    <select name="" id="client" ng-model="client">
      <option ng-repeat="client in clients.data">{{client.name}}</option>
    </select>
    <div>
      <label>Kwota</label>
      <input type="number" ng-model="amount">
    </div>
    <input value="zapisz" type="submit" />
  </form>
  <h2>Podsumowanie</h2>
  <p>Klient {{client}}</p>
  <p>Kwota {{amount}}</p>
  <p>Kwota brutto {{amountBrutto}}</p>
  <h2>Lista faktur</h2>
  <div>
    <ul>
      <li ng-repeat="fv in fvs.data">{{fv.client }} {{ fv.amount}} {{fv.number}}</li>
    </ul>
  </div>
  <h2>Dodaj klienta</h2>
  <form ng-submit="saveClient()">
    <div>
        <label>Client Name</label>
        <input ng-model="name"/>
    </div>
    <div>
        <label>Client NIP</label>
        <input ng-model="nip"/>
    </div>
    <input type="submit" />
  </form>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-route/angular-route.js"></script>
  <script src="main.js"></script>  
</body>
</html>